* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd6fe;
    font-family: arial;
}

header {
    position: sticky;
    top: 0;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #71717a;
    background: #86a3a1;
    padding: 10px;
    height: 3rem;
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 10px;
}

.nav a:hover {
    color: #831843;
    background-color: #a5b4fc;
}
.nav li {
    list-style-type: none;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #a3a3a3;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

.card img {
    width: 6rem;
}

table {
    /* border-collapse: collapse; */
    width: 70%;
    margin: 50px auto;
    border-radius: 6px;
    background: #e9d5ff;
}
table,
td {
    border: 1px solid rgb(68, 62, 62);
    font-size: 1.2rem;
}
table th {
    height: 30px;
}

table td {
    height: 30px;
    padding-left: 7px;
}
