* {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd6fe;
    font-family: arial;
}

header {
    position: sticky;
    top: 0;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #71717a;
    background: #86a3a1;
    padding: 10px;
    height: 3rem;
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 10px;
}

.nav a:hover {
    color: #831843;
    background-color: #a5b4fc;
}
.nav li {
    list-style-type: none;
}
.text-container {
    margin: 100px auto;
    width: 90%;
    border: 1px solid #71717a;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: 1.1rem;
    line-height: 1.7rem;
    background: #e9d5ff;
}

.text-container h1 {
    margin-bottom: 20px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 90%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #a3a3a3;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.card a {
    text-decoration: none;
    background: #e9d5ff;
    padding: 8px 15px;
    font-size: 1.1rem;
    border-radius: 12px;
}

.card a:hover {
    background: #d8b4fe;
}
